.header {
    text-align: center;
    margin-top: 20px;
}

.header h1 {
    font-weight: bold;
    color: black;
    text-decoration: none !important;
}

body {
    margin: 0;
    padding: 0;
}

.circle-crop {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

.politician-info {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #b1b1b1;
    border-radius: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 150px;
    width: 450px;
}

.photo {
    display: flex;
    align-items: center;
}

.info {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
}

.name {
    font-weight: bold;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.2;
}

.incumbency,
.party,
.constituency,
.funding-amount,
.total-funding-amount,
.funding-percentage {
    margin: 0;
    font-size: 1rem;
    margin-right: 5px;
    line-height: 1.2;
}

.photo img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Mukta Mahee", sans-serif;
}
