.candidateContainer {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    /* background-color: blue; */
}


@media (max-width: 768px) {
    .candidateContainer {
        width: 100%
    }
}

.candidateInfo {
    box-sizing: border-box;
    color: var(--color-black);
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-white);
    box-shadow: 5px 5px 10px 0 var(--color-black);
    height: fit-content;
}

.bio .name {
    font-size: var(--font-size-huge);
    font-weight: bolder;
}

.bio .partyConstituency {
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.contributions .total {
    font-size: var(--font-size-medium);
    margin-top: 5px;
}

.contributions .entities {
    width: 100%;
    font-size: var(--font-size-small);
    margin-left: 25px;
}

.map {
    height: 300px;
    margin-top: 25px;
    width: 100%;
}

.constituencies {
    font-size: var(--font-size-extra-small);
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    /* justify-content: center; */
    gap: 5%;
    font-weight: bold;
    /* background-color: rgb(139, 86, 12); */
}

.legend {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;

}

.amounts {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

@media (max-width: 768px) {
    .constituencies {
        justify-content: center;
    }
    .legend {
        width: 41%;
    }
    .amounts {
        flex-direction: column;
        gap: 0px
    }
}