.candidate {
    box-sizing: border-box;
    color: var(--color-black);
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-white);
    box-shadow: 5px 5px 10px 0 var(--color-black);
    height: fit-content;
}

.candidate .bio {
    width: auto;
}

.candidate .bio .name {
    font-size: var(--font-size-huge);
    font-weight: bolder;
}

.candidate .bio .party-constituency {
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.candidate .contributions .total {
    font-size: var(--font-size-medium);
    margin-top: 5px;
}

.candidate .contributions .entities {
    width: 100%;
    font-size: var(--font-size-small);
    margin-left: 25px;
}

.candidate .map {
    margin-top: 25px;
    width: 100%;
}