.candidateContainer {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    /* background-color: blue; */
}


@media (max-width: 768px) {
    .candidateContainer {
        width: 100%
    }
}

.candidateInfo {
    box-sizing: border-box;
    color: var(--color-black);
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-white);
    box-shadow: 5px 5px 10px 0 var(--color-black);
    height: fit-content;
}

.candidateInfo .bio .name {
    font-size: var(--font-size-huge);
    font-weight: bolder;
}

.candidateInfo .bio .partyConstituency {
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.candidateInfo .contributions .total {
    font-size: var(--font-size-medium);
    margin-top: 5px;
}

.candidateInfo .contributions .entities {
    width: 100%;
    font-size: var(--font-size-small);
    margin-left: 25px;
}

.candidateInfo .map {
    margin-top: 25px;
    width: 100%;
}

.candidateInfo .constituencies {
    font-size: var(--font-size-small);
}