.headerContainer {
    box-sizing: border-box;
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 1%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--color-white);
}

.title {
    font-weight: bold;
    font-size: var(--font-size-large);
}

.title a {
    color: var(--color-white);
    text-decoration: none;
}

.links {
    display: flex;
    font-size: var(--font-size-extra-small)
}

.links a {
    margin-left: auto;
    margin-right: 20px;
    color: var(--color-white);
    text-decoration: none;
}

.links a:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    .headerContainer {
        padding: 15px
    }
    .title {
        width: 50%;
    }
    .links {
        flex-direction: column;
        
    }
}