body {
    margin: 0;
    font-family: "Anonymous Pro", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    background-color: #000000;
}

main {
    padding: 25px;
}