.candidateContainer {
    width: 60%
}

.box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: var(--color-black);
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-white);
    height: fit-content;
}

@media (max-width: 768px) {
    .candidateContainer {
        width: 100%
    }
}
