.legendContainer {
    font-size: var(--font-size-extra-small);
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 2%;
    gap: 5%;
}

.legendTitle {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.legendNums {
    display: flex;
    flex-direction: row;
    gap: 5px;
}


@media (max-width: 820px) {

    .legendNums {
        flex-direction: column;
        gap: 0px;
    }
    
}
