.selectionsContainer {
    margin-right: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: min-content;
    gap: 25px
    /* background-color: rgba(253, 0, 0, 0.5); */
}

@media (max-width: 768px) {
    .selectionsContainer {
        position: relative;
        width: 100%;
        gap: 15px;
    }
}
