.selectionsContainer {
    display: flex;
    width: 35%;
    flex-direction: column;
    /* background-color: rgb(253, 0, 0); */
}

@media (max-width: 768px) {
    .selectionsContainer {
        width: 100%;
    }
}
