

.switchContainer {
    display: flex;
    --radius: 40px;
}

.buttonsContainer {
    display: flex;
    position: relative;
    border-radius: var(--radius);
    background-color: var(--color-offwhite);
}

.button {
    cursor: pointer;
    width: 115px;
    border: none;
    border-radius: var(--radius);
    padding: 10px;
    background-color: var(--color-offwhite);
    color: var(--color-gray);
    font-size: var(--font-size-small);
    transition:
        background-color var(--transition-duration),
        color var(--transition-duration),
        box-shadow var(--transition-duration);
}

.button.active {
    z-index: 1;
    background-color: var(--color-white);
    color: var(--color-black);
    box-shadow: 1px 1px 10px 0 var(--color-black);
}

@media (max-width: 768px) {
    .button {
        width: 100px;
    }
}
