.switch {
    display: inline-block;
    position: relative;
    margin-bottom: 25px;
    --radius: 40px;

}

.switch .buttonsContainer {
    display: inline-flex;
    position: relative;
    background-color: var(--color-offwhite);
    overflow: hidden;
    border-radius: var(--radius);
}

.switch .button {
    width: 115px;
    font-size: var(--font-size-small);
    padding: 10px;
    border: none;
    background-color: transparent;
    color: var(--color-gray);
    cursor: pointer;
    outline: none;
    transition:
        background-color var(--transition-duration),
        color var(--transition-duration),
        box-shadow var(--transition-duration);
    border-radius: var(--radius);
}

.switch .button.active {
    background-color: var(--color-white);
    color: #000000;
    box-shadow: 1px 1px 10px 0 var(--color-darkgray);
    z-index: 1;
}

@media (max-width: 768px) {
    .switch {
        margin-bottom: 15px;
    }
}
