.header {
    display: flex;
    color: #ffffff;
    background: linear-gradient(0deg, #191919 10%, #000000 33%);
    height: 75px;
    padding: 20px;
    align-items: center;
}

.header--title {
    margin-right: auto;
}

.header--author {
    margin-left: auto;
}