:root {
    --font-family: "Anonymous Pro", monospace;
    --color-white: #fff;
    --color-dropdown-bg: #191919;
    --transition-duration: 0.3s;
}

.panel-candidate {
    width: 50%;
    height: 100vh;
    float: right;
}

.panel-candidate.white-background {
    background-color: var(--color-white);
    color: black;
}