.dropdown {
    display: inline-block;
    position: relative;
    margin-bottom: 25px;
}

.dropdown .container {
    width: 345px;
    overflow: hidden;
    box-shadow: 5px 5px 10px 0 var(--color-black);
    color: var(--color-black);
    background-color: transparent;
}

.dropdown .button {
    box-sizing: border-box;
    background-color: var(--color-white);
    font-size: var(--font-size-small);
    color: var(--color-black);
    border: 1px solid var(--color-white);
    padding: 10px 25px;
    cursor: pointer;
    transition: background-color var(--transition-duration) ease;
    width: 100%;
    text-align: left;
    border-radius: 23px;
    box-shadow: 0px 1px 10px 1px var(--color-gray);
}

.dropdown .button.active {
    border-radius: 23px 23px 0 0;
}

.dropdown .menu {
    padding-top: 10px;
    box-sizing: border-box;
    max-height: 310px;
    overflow-y: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);    
    border-radius: 0 0 30px 30px;
    width: 100%;
    background-color: var(--color-white);
}

.dropdown .item {
    box-sizing: border-box;
    display: flex;
    font-size: var(--font-size-extra-small);
    display: flex;
    justify-content: space-between;
    align-items: "flex-start";
    width: 100%;
    margin-bottom: 5px;
    background-color: transparent;
    border: none;
    padding: 6px 25px;
    cursor: pointer;
    transition: background-color var(--transition-duration) ease;
}