:root {
    --font-family: "Anonymous Pro", monospace;
    --color-white: #fff;
    --color-dropdown-bg: #191919;
    --transition-duration: 0.3s;
}

.dropdown {
    width: auto;
}

.dropdown__title {
    font-family: var(--font-family);
    font-size: 24px;
    color: var(--color-white);
    margin-bottom: 10px;
}

.dropdown__button {
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--color-white);
    background-color: transparent;
    border: 1px solid var(--color-white);
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color var(--transition-duration) ease;
    width: auto;
    text-align: left;
}

.dropdown__menu {
    display: none;
    position: static;
    /* flex-direction: column; */
    background-color: var(--color-dropdown-bg);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);    
    z-index: 1;
    border-radius: 4px;
    margin-top: 2px;
    border: 1px solid var(--color-white);
    padding: 10px;
    width: auto;
}

.dropdown__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-bottom: 5px;
    background-color: transparent;
    border: none;
    color: var(--color-white);
    text-decoration: none;
    padding: 8px 16px;
    font-family: var(--font-family);
    cursor: pointer;
    transition: background-color var(--transition-duration) ease;
}

.dropdown__item-name {
    flex-grow: 1;
    text-align: left;
}