body {
    margin: 0;
    font-family: "Arial", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    background-color: #000000;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.left-half {
    padding: 25px;
    width: 30%;
}

.right-half {
    padding: 25px;
    width: 69%
}