:root {
    --font-family: "Anonymous Pro", monospace;
}

.panel {
    width: 100%;
    padding: 20px;
    border-radius: 0%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.info {
    background-color: aqua;
}

.map {
    background-color: brown;
}